<h2><%=professional.username%></h2>
<img src="<%= professional.image %>" alt="foto del local">
<p><%= professional.description %></p>
<h3>SERVICES:</h3>

<h2> MAKE AN APPOINTMENT:</h2>
<h3> Choose a service:</h3>


 <% professional.services.forEach( service =>{ %>
 <a href="<%= professional._id%>/<%= service.name %>"><%= service.name %></a>
 <% }) %> 


 <a href="about">about</a>


