<div class= "view-navbar">
<%- include('partials/notification.ejs') %>
<% if (currentUser.role === "professional") { %>
 
<form class="edit-form first-edit" action="/profile/edit" method="post">
  <p class="page-title">Edit the info of: <%= currentUser.username %> </p>
  <label for="">EMAIL</label>
  <input type="email" name="email" value="<%= currentUser.email %>">
  <label for="">IMAGE</label>
  <input type="text" name="image" value="<%= currentUser.image %>">
  <label for="">DESCRIPTION</label>
  <input type="text" name="description" value="<%= currentUser.description %>">
  <button class="button-primary" type="submit">Change your info</button>
</form>
<div class="second-edit">
  <h3>Active Services:</h3>
  <% currentUser.services.forEach(service => { %>
    <form class="edit-form" action="/profile/delete/services/<%= service.name %>" method="post">
      <p><%= service.name %> -  <%=service.duration  %> min </p>
      <button class="button-delete edit" type="submit">Delete</button>
    </form>
  <% }) %>
  <form class="edit-form" action="/profile/add-service" method="post">
    <label for="">SERVICE NAME</label>
    <input type="text" name="name">
    <label for="">DURATION</label>
    <input type="text" name="duration">
    <button class="button-add edit" type="submit">Add Service</button>
  </form>
</div>
<h3>Active Employees:</h3>
<% currentUser.employees.forEach(employee => { %>
  <form class="edit-form" action="/profile/delete/employees/<%= employee.name %>" method="post">
  <p><%= employee.name %></p>
  <button class="button-delete edit" type="submit">Delete</button>
  </form>
<% }) %>
<form class="edit-form" action="/profile/add-employee" method="post">
  <label for="">EMPLOYEE NAME</label>
  <input type="text" name="name">
  <button class="button-add edit" type="submit">Add employee</button>
</form>

<% } %>

<%- include('partials/navbar.ejs') %>
</div>