<%- include('partials/notification.ejs') %>
<h2 class="page-title" ><%= currentUser.username %> </h1>
<% if(appointments.length>0){%> 
<div class="view-navbar">
<h3>My appointments:</h3>

<% appointments.forEach(appointment => { %>
    <section class="cards">
    <h5>Appointment :</h5>
    <% if(currentUser.role === 'client'){ %> 
    <p>Professional: <%= appointment.professional.username %> </p>
    <% } else if(currentUser.role === 'professional'){ %>
    <% if (appointment.client) { %>
    <p>Client: <%= appointment.client.username %> </p>
    <% } else { %>
    <p>Client: <%= appointment.nameClient %> </p>
    <% } %>
    <% } %> 
    <p>Service: <%= appointment.service.name %></p> 
    <p>Duration: <%= appointment.service.duration %>  </p>
    <p>Employee: <%= appointment.employee %> </p>
    <p>Day: <%= appointment.date.day%> </p>
    <p>Hour: <%= appointment.date.hour %> : <%= appointment.date.min %></p>
    <form action="/appointments/delete/<%= appointment._id %>" method="post">
        <button class="button-delete edit" type="submit">Delete</button>
    </form>
    </section>
<% })} else{ %>
    <h3>There is not appointmnets yet. Make an appointment first!</h3>
<% } %>
</div>
<%- include('partials/navbar.ejs') %>
