<h2><%=professional.username%></h2>
<img src="<%= professional.image%>" alt="foto del local">
<p><%= professional.description %></p>
<h3>SERVICES:</h3>
<ul>
  <li>Hair cut</li>
  <li>Hair cut and dye</li>
  <li>Hair cut and hairstyle</li>
</ul>

<h2> Make an appointment:</h2>
<form action="/appointments/<%= professional._id %>" method="post">
<% professional.timeBlock.forEach(element => { %>
  <input type="radio" name="dateId" id="" value="<%= element.date._id %>" checked><%= element.date.hour %> : <%= element.date.min %><br>
<% }) %>
  <input type="submit" value="send">
</form>

