<div class="profprofile-info">
<h2>Profile of:   <%=professional.username%></h2>
<img src="<%= professional.image %>" alt="foto del local">
<p> About us:</p>
<p><%= professional.description %></p>
</div>


<h2> MAKE AN APPOINTMENT:</h2>
<h3> Choose a service:</h3>


 <% professional.services.forEach( service =>{ %>
 <a href="<%= professional._id%>/<%= service.name %>"><%= service.name %></a>
 <% }) %> 

 <%- include('partials/navbar.ejs') %>

