<h2><%=professional.username%></h2>
<img src="<%= professional.image%>" alt="foto del local">
<p><%= professional.description %></p>
<h3>SERVICES:</h3>

<h2> MAKE AN APPOINTMENT:</h2>
<h3> Choose a service:</h3>
 <form action=professionals/<% /<%=professional._id %>/<%= service.name %> method="get">
 <% professional.services.forEach( service =>{ %>
 <input type="radio" name="service" value=" <%= service.name %>" > <%= service.name %>
 <% }) %> 
 <input type="submit" value="Submit">
 </form>

 <a href="about">about</a>


