<%- include('partials/notification.ejs') %>
<h2 class="title-section page-title">Free Time-blocking for <%= employee %>:</h2>

  <form class="flex-container" action="/appointments/<%=idprof %>/<%= service %>/<%= employee %>" method="post">
<% timeblock.forEach( item =>{ %>
<% if( item.status === "free"){ %>
<p class="services-btn"> <input  type="radio" name="dateId"  value="<%= item.date._id%>"><%= item.date.hour%>: <% if(item.date.min === 0){ %>
    0<%= item.date.min %>
 <% } else{ %>
   <%= item.date.min%> </p>
   <% } %> 
<%} }) %>
<% if(currentUser._id === idprof) { %>
<div class="name-timeblock">
  <label for="">Name of client</label>
  <input type="text" name="nameClient" >
<% } %> 
<button class="button-primary small" type="submit">Make the appointment</button>
</form>
</div>

<%- include('partials/navbar.ejs') %>
