

Free Time-blocking for:
 
  <form action="/appointments/<%=idprof %>/<%= service %>/<%= employee %>" method="post">
<% timeblock.forEach( item =>{ %>
<% if( item.status === "free"){ %>
  <input type="radio" name="dateId"  value="<%= item.date._id%>"><%= item.date.hour%>: <% if(item.date.min === 0){ %>
    0<%= item.date.min %>
 <% } else{ %>
   <%= item.date.min%>
   <% } %>
<%} }) %>
<% if(currentUser._id === idprof) { %>
  <label for="">Name of client</label>
  <input type="text" name="nameClient" >

<% } %> 
<input id='submit' type="submit" value="Submit hour">
</form>

<%- include('partials/notification.ejs') %>
<%- include('partials/navbar.ejs') %>
